@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400&family=Orelega+One&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    font-family: 'Orelega One', cursive;
}


.banner {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.slider {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
}

#img1 {
    width: 100%;
    height: 100vh;
    animation: zoom 3s linear infinite;
}

/* A @keyframes seta as especificações da animação 'zoom' */
@keyframes zoom {  
    0% {
        transform: scale(1.3);
    }
    15% {
        transform: scale(1);
    }
    85% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.3);
    }
}

.overlay {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    position: absolute;
    top: 0;
}

.header {
    width: 85%;
    display: flex;
    align-items: center;
    margin: 35px auto;
}

.logo h1 {
    font-size: 4rem;
    color: #999;
    cursor: pointer;

}

.itens {
    flex: 1;
    align-items: center;
    text-align: right;


}
.itens a {
    color: #999;
    font-size: 1.3rem;
    text-decoration: none;
    margin-left: 50px;
    padding: 4px;
}

.itens a:hover {
    color: #a9a9a9;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 6px;
    border-style: solid;
}

.conteudo {
    width: 60%;
    margin: 160px auto 0;
    text-align: center;
    color: #999;
}

.conteudo h1 {
    font-size: 2rem;
}

.conteudo h3 {
    width: 80%;
    margin: 20px auto 100px;
    font-weight: 100;
    font-size: 1.5rem;
}

 button {
     color: #999;
    cursor: pointer;
    width: 200px;
    padding: 15px 0;
    text-align: center;
    border-radius: 12px;
    font-size: 1.2rem;
    border: 3px solid #999;
    background: transparent;
    transition: background 0.2s;
}

button:hover {
    background: #999;
    color: black;
    border: 3px solid rgb(0, 0, 0)
}

#container {
    padding-bottom: 100px;
    padding-top: 100px;
    background-color: whitesmoke;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
html {
    scroll-behavior: smooth;
  }





