@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400&family=Orelega+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,500;1,200;1,300&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
}


.banner {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.slider {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
}

#img1 {
    width: 100%;
    height: 100vh;
    /* animation: zoom 3s linear infinite; */
}

/* A @keyframes seta as especificações da animação 'zoom'
@keyframes zoom {
    0% {
        transform: scale(1.3);
    }

    15% {
        transform: scale(1);
    }

    75% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.3);
    }
} */

.overlay {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9));
    position: absolute;
    top: 0;
    /* background: rgba(0, 0, 0, 0.112); */
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

.header {
    width: 85%;
    display: flex;
    align-items: center;
    margin: 35px auto;
}

.logo h1 {
    font-size: 4rem;
    color: rgb(255, 255, 255);
    cursor: pointer;

}

tr td #desceu {
    color: rgb(255, 0, 0);
}

tr td #subiu {
    color: rgb(64, 255, 0);
}


.itens {
    flex: 1;
    align-items: center;
    text-align: right;


}

.itens a {
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
    text-decoration: none;
    margin-left: 50px;
    padding: 4px;
}

.itens a:hover {
    color: #a9a9a9;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 3px;
    border-style: solid;
}

.conteudo {
    padding: 32px;
    width: 60%;
    margin: 110px auto 0;
    text-align: center;
    color: rgb(255, 255, 255);
    /* background: rgba(0, 0, 0, 0.112);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px); */
    border-radius: 16px;
}

.conteudo h1 {
    font-size: 2rem;
}

.conteudo h3 {
    width: 80%;
    margin: 20px auto 100px;
    font-weight: 100;
    font-size: 1.5rem;
}

button {
    color: rgb(255, 255, 255);
    cursor: pointer;
    width: 200px;
    padding: 15px 0;
    text-align: center;
    border-radius: 12px;
    font-size: 1.2rem;
    border: 3px solid rgb(255, 255, 255);
    background: transparent;
    transition: background 0.2s;
    margin-left: 40px;
}

button:hover {
    background: transparent;
    color: rgb(255, 255, 255);
    border: 3px solid rgb(255, 255, 255)
}

#container {
    padding-bottom: 100px;
    padding-top: 100px;
    background-color: whitesmoke;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

html {
    scroll-behavior: smooth;
}

*::selection {
    background-color: #a9a9a9;
    color: black;
}

.perfil1 {
    height: 300px;
    width: 300px;
}

.perfil1 img {
    height: 100%;
    width: 100%;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 150px;
    margin-left: 150px;
    justify-content: space-around;
}
.infos {
    height: 200px;
    width: 300px;
    background-color: rgb(240, 240, 240);

}

.infos h1 {
    color: black;
    margin-left: 60px;
    margin-bottom: 25px;
}
.infos h2 {
    padding: 50px;
}


